<p id="notice"><%= notice %></p>

<table class="container" summary="Profile information">
  <tr class="jumbotron">
    <td class="success">
      <h1 class="jumbotron">
        <%= gravatar_for @user, :class => "img-thumbnail" %>
        <%=@user.name%>
      </h1>
    </td>
    <td class="jumbotron">
      <strong>Name: </strong><%= @user.name %><br />
      <strong>URL: </strong><%= link_to user_path(@user), @user %>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
    </td>
</table>
