<a href="" class="buttonScroll"></a>
<main id="main" class="cf">
  <span id="logo">
    <%= link_to root_path do %>
      Dream <i>Coasts</i></a></span>
    <% end %>
  <div id="breadcrumb">
    <ul class="crumbs">
      <li class="first">
        <%= link_to root_path, {:style => 'z-index: 9;'} do %><span></span>Home<% end %>
      </li>
      <li>
        <%= link_to beaches_path, {:style => 'z-index: 8;'} do %>
        Browse All
        <% end %>
        </li>
    </ul>
  </div>

  <% if user_signed_in? %>
  <div style="position: absolute; top: -45px; right: 10px; padding: 5px; background-color: red; width: 50px; height: auto; color: white"><h2>IN</h2>
    <ul>
    <li><%= link_to "Profile", edit_user_registration_path %><br /></li>
    <li><%= link_to "Settings", '#' %></li>
    <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
    </ul>
  </div>
    <% else %>
    <div style="position: absolute; top: -45px; right: 10px; padding: 5px; background-color: black; width: 50px; height: auto; color: white">
      <ul>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      </ul>
    </div>
  <% end %>

  <!-- <li><%= link_to 'Admin',        new_admin_session_path %></li><br /> -->

  <aside id="menu_items">
  </aside>
  <section id="important" class="cf">
    <h1>Most Voted Coasts</h1>
  </section>
</main>
