<a href="" class="buttonScroll"></a>
  <main id="main_view" class="cf">
    <span id="logo"><a href="index.html"><i class="innerLogo"></i></a></span>
    <div id="breadcrumb">
      <ul class="crumbs">
        <li class="first">
        <%= link_to root_path, {:style => 'z-index: 9;'} do %><span></span>Home<% end %>
      </li>
      <li>
        <%= link_to beaches_path, {:style => 'z-index: 8;'} do %>
        Browse All
        <% end %>
        </li>
        <li>
          <%= link_to beaches_path+@beach.name+'.html', {:style => 'z-index: 7;'} do %>
           <%= @beach.name %>
          <% end %>
        </li>
      </ul>
    </div>
    <aside id="menu_items">
    </aside>
    <section id="important" class="cf">
      <h1><%= @beach.name %></h1>
      <article class="cf fix">
        <span class="fav-btn"><a href=""><i class="fa fa-star-o fa-2x"></i></a></span>
        <img class="img-center" src="<%= @beach.img %>" height="300" width="493">
        <p>
          <%= @beach.long_description %>
        </p>
        <aside class="thumbs fix"><span class="fl"><a href=""><i class="fa fa-facebook-square"></i></a></span><span class="fl"><a href=""><i class="fa fa-twitter-square"></i></a></span><a href=""><i title="Down Votes" class="vote-down fa fa-thumbs-down"> 0</i></a><a href=""><i title="Up Votes" class="vote-up fa fa-thumbs-up"> 0</i></a></aside>
      </article>
      <article class="cf fix Whattosee">
        <a name="What to see?"></a>
        <header>
          <h2 class="info">What to see?</h2>
        </header>
        <dl>
          <dt>Example 1:</dt>
          <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut sint autem ipsa quisquam culpa aspernatur quia molestiae beatae <a href="#">here</a> magni quo fugit qui doloribus odio aliquam, velit amet at soluta expedita.</dd>
          <dt>Example 2:</dt>
          <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error veniam, facilis facere sed nemo magni, unde ut tempora fugiat ratione ipsa hic perspiciatis harum repellendus. Officiis voluptate sunt molestias, excepturi aliquid rem enim, veritatis sapiente, nisi totam, quidem. Odit, ea.</dd>
        </dl>
      </article>
    </section>
  </main>
